body {
    background-image: url('imagenes/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    /*background-position: center center;*/
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Para ocultar la imagen al principio */
}

.logo img {
    max-width: 100%; /* Para asegurarse de que la imagen no exceda el ancho del contenedor */
    max-height: 100%; /* Para asegurarse de que la imagen no exceda la altura del contenedor */
    animation: caidaDesdeArriba 1.5s ease forwards;
    opacity: 0; /* Comenzar con la imagen transparente */
}

@keyframes caidaDesdeArriba {
    0% {
        transform: translateY(-100%);
        opacity: 0; /* Comenzar con la imagen transparente */
    }
    100% {
        transform: translateY(0);
        opacity: 1; /* Terminar con la imagen visible */
    }
}


/* Estilos para el texto y el widget */
.texto-y-widget {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.texto {
    flex: 1;
    padding-right: 20px;
}


@font-face {
    font-family: "gtafont";
    src: url(PRICEDOWN\ BL.OTF);
}

body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.contorno-negro {
    font-family: "gtafont";
    color: white; /* Color de la letra */
    text-shadow: 
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000; /* Sombras para crear el contorno negro */
}

/*MENU DESPLEGABLE*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffba00;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

nav {
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}

main {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #ffba00;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    nav a {
        margin: 10px 0;
    }
}


/*Footer, final de pagina*/
footer {
    background-color: #ffba00;
    color: #000;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info,
.social-links {
    text-align: center;
}

.contact-info h2,
.social-links h2 {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}

/*Informacion sobre fundador, yo*/
#about {
    background-color: #ffba00;
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 40px; /* Margen inferior para separar del footer */
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.bio {
    max-width: 600px;
    margin: 0 auto;
    color: #000; /* Texto en color negro */
}

.bio h2 {
    margin-bottom: 20px;
}

.bio p {
    line-height: 1.6;
}